.App-header {
  background-color: #282c34;
  min-width: 320px;
  color: white;
}

.App-link {
  color: #FB8024;
}

.link-to-so {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.link-to-so:hover {
  background: hsl(220, 13%, 0%);
}
